{
  "extends": [
    "prettier",
    "prettier/@typescript-eslint"
    // "prettier/prettier"
    // "prettier/babel",
    // "prettier/react",
    // "prettier/standard",
    // "prettier/unicorn"
  ]
}
