# demo
/generated/*
!/generated/.keep

/generated-test-data
/generated-test-data.tree.json
/generated-test-data.proof.json
/generated-test-ids*
*wendy-blanda.json

/node_modules/
build/
token.json
.env.mainnet*
.env.prod*
.env
*.log
/coverage/
client_secret_*

node_modules
.env

#Hardhat files
cache
artifacts
